.container {
  /*max-width: 36rem;
  padding: 0 1rem;*/
  margin: 3rem auto 6rem;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.navigation {
  display: flex;
  width: 100%;
  height: 30px;
  background: red;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #353b50;
  height: 200px;
  flex-direction: column;
}

.headerImage {
  width: 15rem;
  height: 15rem;
  border: 1px solid #353b50;
  box-shadow: 5px 5px 8px #353b50;
}

.headerHomeImage {
  width: 15rem;
  height: 15rem;
}

.backToHome {
  margin: 3rem 0 0;
}
