.cards {
  padding: 10%;
  background: #fff;
  margin-bottom: 50px;
}

/* h1 {
  text-align: center;
} */

.cardList {
  display: grid;
  align-items: center;
  max-width: 1120px;
  width: 100%;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: 40px;
  align-items: stretch;
  padding: 0;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  transition: all 0.2s ease;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(156, 191, 255, 0.25);
  filter: drop-shadow(0 6px 20px rg ba(56, 125, 255, 0.02));
}

.link {
  flex: 1 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.link:hover {
  text-decoration: none;
}

.imageWrapper {
  padding-top: 56.25%;
  flex: 0 0 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.label {
  position: absolute;
  bottom: 0;
  left: 10px;
  line-height: 1;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  background: #2099f3;
  color: #fafafa;
  z-index: 1;
  padding: 6px 8px;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 4s linear;
}

.image:hover {
  transform: scale(1.1);
}

.textWrapper {
  padding: 18px 20px;
  flex: 0 0 auto;
  overflow: hidden;
}

.text {
  margin: 0;
  font-weight: 700;
  color: #252e48;
  font-size: 16px;
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (min-width: 769px) {
  .cardList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1024px) {
  .cardsItems {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cardsItem {
    margin-bottom: 2rem;
  }
}
